root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.md]
max_line_length = 2147483647
trim_trailing_whitespace = false

[*.{csproj,html,props,resx,shproj,targets,xml}]
resharper_space_before_self_closing = true
resharper_xml_space_before_self_closing = true
space_before_self_closing = true
xml_space_before_self_closing = true
